name: Deploy Provisioning Function

on:
  push:
    branches:
      - main
    paths:
      - 'functions/provisioning-function/**' # Only run when function code changes

jobs:
  deploy:
    name: Deploy Function to Azure
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Create requirements.txt
      # In folder functions/provisioning-function, create a requirements.txt file
      # By running command 'uv export --format requirements.txt > requirements.txt'
      run: |
        cd functions/provisioning-function
        uv export --format requirements.txt > requirements.txt

    - name: Deploy to Azure Functions
      uses: azure/functions-action@v1
      with:
        app-name: 'kubemooc-provisioning-func' # The name of your Function App in Azure
        package: './functions/provisioning-function' # Path to your function code
        publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}